
<body>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div id="soe" style="width:100%;height:10%">
			
		</div>
		<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		       	<h4 class="modal-title" id="myModalLabel" style="display:inline-block;">LOADING</h4>&nbsp&nbsp&nbsp
		       	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
			    <rect x="0" y="0" width="4" height="10" fill="#333" transform="translate(0 6.46571)">
			      <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0" dur="0.6s" repeatCount="indefinite"></animateTransform>
			    </rect>
			    <rect x="10" y="0" width="4" height="10" fill="#333" transform="translate(0 6.86762)">
			      <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0.2s" dur="0.6s" repeatCount="indefinite"></animateTransform>
			    </rect>
			    <rect x="20" y="0" width="4" height="10" fill="#333" transform="translate(0 19.799)">
			      <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0.4s" dur="0.6s" repeatCount="indefinite"></animateTransform>
			    </rect>
			  </svg>
		      </div>
		      <div class="modal-body">
		        <p>Please wait while the content loads</p>
		      </div>
		      <div class="modal-footer">
		        
		      </div>
		    </div>
  		</div>
	</div>
    <div class="modal fade" id="hadithModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div id="soe" style="width:100%;height:10%">
			
		</div>
		<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		       	<h4 class="modal-title" id="myModalLabel" style="display:inline-block;"></h4>
		       	
		      </div>
		      <div class="modal-body">
		      <div class="modal-narrators"></div>
		        <div class="panel-group categories" id="accordion">
					        <div class="panel panel-default">
					            <div class="panel-heading">
					                <h4 class="panel-title">
					                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="">Categories from (A - E)</a>
					                </h4>
					            </div>
					            <div id="collapseOne" class="panel-collapse collapse " aria-expanded="true">
					                <div class="panel-body">
					                    <div class="row col-lg-4">
					                    	<div class="row col-lg-5 category-name no-padding-right">
					                    		<label>
					                    			Sahih
					                    		</label>
					                    	</div>
					                    	<div class="row col-lg-5 category-box no-padding-left">
					                    		<input type="checkbox">
					                    	</div>
					                    </div>
					                    <div class="row col-lg-4">
					                    	<div class="row col-lg-5 category-name no-padding-right">
					                    		<label>
					                    			Sahih
					                    		</label>
					                    	</div>
					                    	<div class="row col-lg-5 category-box no-padding-left">
					                    		<input type="checkbox">
					                    	</div>
					                    </div>
					                    <div class="row col-lg-4">
					                    	<div class="row col-lg-5 category-name no-padding-right">
					                    		<label>
					                    			Sahih
					                    		</label>
					                    	</div>
					                    	<div class="row col-lg-5 category-box no-padding-left">
					                    		<input type="checkbox">
					                    	</div>
					                    </div>
					                </div>
					            </div>
					        </div>
					        <div class="panel panel-default">
					            <div class="panel-heading">
					                <h4 class="panel-title">
					                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">Categories from (F - J)</a>
					                </h4>
					            </div>
					            <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
					                <div class="panel-body">
					                    <div class="row col-lg-4">
					                    	<div class="row col-lg-5 category-name no-padding-right">
					                    		<label>
					                    			Sahih
					                    		</label>
					                    	</div>
					                    	<div class="row col-lg-5 category-box no-padding-left">
					                    		<input type="checkbox">
					                    	</div>
					                    </div>
					                    <div class="row col-lg-4">
					                    	<div class="row col-lg-5 category-name no-padding-right">
					                    		<label>
					                    			Sahih
					                    		</label>
					                    	</div>
					                    	<div class="row col-lg-5 category-box no-padding-left">
					                    		<input type="checkbox">
					                    	</div>
					                    </div>
					                    <div class="row col-lg-4">
					                    	<div class="row col-lg-5 category-name no-padding-right">
					                    		<label>
					                    			Sahih
					                    		</label>
					                    	</div>
					                    	<div class="row col-lg-5 category-box no-padding-left">
					                    		<input type="checkbox">
					                    	</div>
					                    </div>
					                </div>
					            </div>
					        </div>
					        <div class="panel panel-default">
					            <div class="panel-heading">
					                <h4 class="panel-title">
					                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">Categories from(K - O)</a>
					                </h4>
					            </div>
					            <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
					                <div class="panel-body">
					                    <div class="row col-lg-4">
					                    	<div class="row col-lg-5 category-name no-padding-right">
					                    		<label>
					                    			Sahih
					                    		</label>
					                    	</div>
					                    	<div class="row col-lg-5 category-box no-padding-left">
					                    		<input type="checkbox">
					                    	</div>
					                    </div>
					                    <div class="row col-lg-4">
					                    	<div class="row col-lg-5 category-name no-padding-right">
					                    		<label>
					                    			Sahih
					                    		</label>
					                    	</div>
					                    	<div class="row col-lg-5 category-box no-padding-left">
					                    		<input type="checkbox">
					                    	</div>
					                    </div>
					                    <div class="row col-lg-4">
					                    	<div class="row col-lg-5 category-name no-padding-right">
					                    		<label>
					                    			Sahih
					                    		</label>
					                    	</div>
					                    	<div class="row col-lg-5 category-box no-padding-left">
					                    		<input type="checkbox">
					                    	</div>
					                    </div>
					                </div>
					            </div>
					        </div>
					        <div class="panel panel-default">
					            <div class="panel-heading">
					                <h4 class="panel-title">
					                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed" aria-expanded="false">Categories from(P - T)</a>
					                </h4>
					            </div>
					            <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
					                <div class="panel-body">
					                    <div class="row col-lg-4">
					                    	<div class="row col-lg-5 category-name no-padding-right">
					                    		<label>
					                    			Sahih
					                    		</label>
					                    	</div>
					                    	<div class="row col-lg-5 category-box no-padding-left">
					                    		<input type="checkbox">
					                    	</div>
					                    </div>
					                    <div class="row col-lg-4">
					                    	<div class="row col-lg-5 category-name no-padding-right">
					                    		<label>
					                    			Sahih
					                    		</label>
					                    	</div>
					                    	<div class="row col-lg-5 category-box no-padding-left">
					                    		<input type="checkbox">
					                    	</div>
					                    </div>
					                    <div class="row col-lg-4">
					                    	<div class="row col-lg-5 category-name no-padding-right">
					                    		<label>
					                    			Sahih
					                    		</label>
					                    	</div>
					                    	<div class="row col-lg-5 category-box no-padding-left">
					                    		<input type="checkbox">
					                    	</div>
					                    </div>
					                </div>
					            </div>
					        </div>
					        <div class="panel panel-default">
					            <div class="panel-heading">
					                <h4 class="panel-title">
					                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapsed" aria-expanded="false">Categories from(U - Z)</a>
					                </h4>
					            </div>
					            <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
					                <div class="panel-body">
					                    <div class="row col-lg-4">
					                    	<div class="row col-lg-5 category-name no-padding-right">
					                    		<label>
					                    			Sahih
					                    		</label>
					                    	</div>
					                    	<div class="row col-lg-5 category-box no-padding-left">
					                    		<input type="checkbox">
					                    	</div>
					                    </div>
					                    <div class="row col-lg-4">
					                    	<div class="row col-lg-5 category-name no-padding-right">
					                    		<label>
					                    			Sahih
					                    		</label>
					                    	</div>
					                    	<div class="row col-lg-5 category-box no-padding-left">
					                    		<input type="checkbox">
					                    	</div>
					                    </div>
					                    <div class="row col-lg-4">
					                    	<div class="row col-lg-5 category-name no-padding-right">
					                    		<label>
					                    			Sahih
					                    		</label>
					                    	</div>
					                    	<div class="row col-lg-5 category-box no-padding-left">
					                    		<input type="checkbox">
					                    	</div>
					                    </div>
					                </div>
					            </div>
					        </div>
					    </div>
					    <div class="modal-matan"></div>
					    <div class="row col-lg-12 controls no-padding">
							<div class="col-lg-6 controls no-padding">
							
								
								<button type="submit" id="lk" class="btn btn-primary save-category" style="width:90%">
									
									<span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;&nbsp;Save category
								</button>
							
								
							</div>
						</div>
		      </div>
		      <div class="hadith-modal-footer">
		        
		      </div>
		    </div>
  		</div>
	</div>
	
	<!--header finishes here-->

	<!--body starts here-->
	<div class="body relative">
		<div class="container">
			<div class="col-lg-4 sidebar-nav lll " id="scrollable">

					
			            
			    				
				
				<div id="sidebar-wrapper" class="sidebar-nav">

		            <ul class="sidebar-nav">
		                <li class="sidebar-brand sidebar-list-item scholor">
		                    <a href="#">Patience</a>
		                </li>
		                <li class="sidebar-brand sidebar-list-item scholor">
		                    <a href="#">Purification</a>
		                </li>
		                <li class="sidebar-brand sidebar-list-item scholor">
		                    <a href="#">Faith</a>
		                </li>
		                <li class="sidebar-brand sidebar-list-item scholor">
		                    <a href="#">Patience</a>
		                </li>
		                <li class="sidebar-brand sidebar-list-item scholor">
		                    <a href="#">Patience</a>
		                </li>
		                <li class="sidebar-brand sidebar-list-item scholor">
		                    <a href="#">Patience</a>
		                </li>
		                <li class="sidebar-brand sidebar-list-item scholor">
		                    <a href="#">Patience</a>
		                </li>
		                <li class="sidebar-brand sidebar-list-item scholor">
		                    <a href="#">Patience</a>
		                </li>
		                <li class="sidebar-brand sidebar-list-item scholor">
		                    <a href="#">Patience</a>
		                </li>
		                <li class="sidebar-brand sidebar-list-item scholor">
		                    <a href="#">Patience</a>
		                </li>
		                <li class="sidebar-brand sidebar-list-item scholor">
		                    <a href="#">Patience</a>
		                </li>
		                <li class="sidebar-brand sidebar-list-item scholor">
		                    <a href="#">Patience</a>
		                </li>
		                <li class="sidebar-brand sidebar-list-item scholor">
		                    <a href="#">Patience</a>
		                </li>
		                <li class="sidebar-brand sidebar-list-item scholor">
		                    <a href="#">Patience</a>
		                </li>
		                <li class="sidebar-brand sidebar-list-item scholor">
		                    <a href="#">Patience</a>
		                </li>
		                <li class="sidebar-brand sidebar-list-item scholor">
		                    <a href="#">Patience</a>
		                </li>
		               
		                
		                
		            </ul>
        		</div>
			</div>

			<!--navigation bar finishes herer-->
			<!--main content starts here-->
			<div class="col-lg-9 move-down pull-right ">
				<div class="row col-lg-12 hadith pull-right messages">
					
					<div class="row col-lg-12 narrators my-message">
					<p class="not-catogorized">Message for the first scholor</p>
						<span class="hidden categorized"><p href=""> Yahya b. Ya'mur &nbsp&nbsp<span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp&nbspMa'bad &nbsp&nbsp<span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp&nbspthe narrator) said:</p></span>
						
					</div>

					<div class="row col-lg-12 narrators ">
					<p class="not-catogorized">Message for the second scholor</p>
						<span class="hidden categorized"><p href=""> Yahya b. Ya'mur &nbsp&nbsp<span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp&nbspMa'bad &nbsp&nbsp<span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp&nbspthe narrator) said:</p></span>
						
					</div>

					<div class="row col-lg-12 narrators my-message">
					<p class="not-catogorized">Message for the first scholor</p>
						<span class="hidden categorized"><p href=""> Yahya b. Ya'mur &nbsp&nbsp<span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp&nbspMa'bad &nbsp&nbsp<span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp&nbspthe narrator) said:</p></span>
						
					</div>

					<div class="row col-lg-12 narrators ">
					<p class="not-catogorized">Message for the second scholor</p>
						<span class="hidden categorized"><p href=""> Yahya b. Ya'mur &nbsp&nbsp<span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp&nbspMa'bad &nbsp&nbsp<span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp&nbspthe narrator) said:</p></span>
						
					</div>

					<div class="row col-lg-12 narrators my-message">
					<p class="not-catogorized">Message for the first scholor</p>
						<span class="hidden categorized"><p href=""> Yahya b. Ya'mur &nbsp&nbsp<span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp&nbspMa'bad &nbsp&nbsp<span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp&nbspthe narrator) said:</p></span>
						
					</div>

					<div class="row col-lg-12 narrators ">
					<p class="not-catogorized">Message for the second scholor</p>
						<span class="hidden categorized"><p href=""> Yahya b. Ya'mur &nbsp&nbsp<span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp&nbspMa'bad &nbsp&nbsp<span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp&nbspthe narrator) said:</p></span>
						
					</div>
					
					
				</div>
				<div class="col-lg-12 reply-box">
					<textarea></textarea>
				</div>
			</div>
		</div><!--end -->
	</div>


	
	
	<script type="text/javascript">
	var callbackvar = 0;
		$(document).ready(function(){//$().toastmessage('showSuccessToast', "some message here");
			
				
			
			$(".add-collection").click(function(e){
				$(e.target).html("<span class='glyphicon glyphicon-heart' aria-hidden='true'></span>&nbsp&nbspIn my collection");
				$(e.target).addClass("active-button");

				$().toastmessage('showSuccessToast', "Hadith added to my collection.");

			});
			$(".save-category").click(function(e){
				if(callbackvar){
					$(".not-catogorized").hide();
					$(".categorized").removeClass("hidden");
				}
				$(e.target).html("<span class='glyphicon glyphicon-saved' aria-hidden='true'></span>&nbsp&nbspCategory Saved");
				$(e.target).addClass("active-button");

				$().toastmessage('showSuccessToast', "Category saved.");

			});
			$(".active-button").hover(function(e){


			});

			$(".glyphicon-search").on("click" ,function(){
				//$('.sidebar-nav').scrollTop($('.sidebar-nav')[0].scrollHeight);
				
               //$('.lll').offsetTop = "10px";
                $(".sidebar-nav").scrollTop(10);

			});
            $(".editCategory").click(function(e){
            	if(e.target.id=="forTest"){
            		callbackvar = 1;
            	}else {
            		callbackvar = 0;
            	}
            	
            	$(".modal-narrators").html($(e.target).closest(".hadith").find(".narrators").html());
            	$(".modal-matan").html($(e.target).closest(".hadith").find(".matan").html());
            	//($($(e.target).closest(".hadith").find(".narrators").html())).insertBefore($($(".hadithModal").find(".categories")));
                //$(".hadith-modal-footer").html($(".editCategory").closest(".hadith").html());
                $('#hadithModal').modal('show');
            });

			$(".lll").mCustomScrollbar({
  				theme:"minimal-dark"
			});

			$(".messages").mCustomScrollbar({
  				theme:"minimal-dark"
			});
			 
			NProgress.configure({
			  template: '<div class="bar" role="bar"><div class="peg"></div></div><div class="spinner" role="spinner"><div class="spinner-icon"></div></div>',
			  parent: "#soe",
			  showSpinner: false
			});
			$("body").addClass(".disabled");
			$('#myModal').modal({
			  backdrop: 'static',
			  keyboard: false
			});
        
			$('#myModal').modal('show');
			NProgress.start();
			function some(){ 
				$(".bar").toggleClass("black-shadow-line");
				setTimeout(some, 2500);
			};
			some();

		});
		$(window).load(function(){
			setTimeout(function(){ 

			NProgress.done();
			$("body").removeClass(".disabled");
			$('#myModal').modal('hide');
 }, 0);
					});
	</script>
	<!-- Latest compiled and minified JavaScript -->
	
</body>
</html>



