<div class="modal fade" id="hadithModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div id="soe" style="width:100%;height:10%"></div>
	<div class="modal-dialog">
	    <div class="modal-content" style="  margin-top: -60px;">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel" style="display:inline-block;"></h4>
			</div>
			<div class="modal-body">
				<div class="modal-topic" style="margin-top: -32px;"></div>
		      	<div class="modal-narrators"></div>
		        <div class="panel-group categories" id="accordion">
		        	<div class="panel panel-default">
			            <div class="panel-heading">
			                <h4 class="panel-title">
			                    <a data-toggle="collapse" data-parent="#accordion" href="#" aria-expanded="true" class="">Categories</a>
			                </h4>
			            </div>
		            	<div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
		                	<div class="panel-body">
				                <div class="col-lg-12">
				                	<h5><u>A-E</u></h5>
				                </div>
			                	<div class="col-lg-12">
			                		<div class="row col-lg-4">
				                    	<div class="row col-lg-5 category-name no-padding-right">
				                    		<label>
				                    			Ahad
				                    		</label>
				                    	</div>
				                    	<div class="row col-lg-5 category-box no-padding-left">
				                    		<input type="checkbox" value="Ahad">
				                    	</div>
			                    	</div>
			                    	<div class="row col-lg-4">
				                    	<div class="row col-lg-5 category-name no-padding-right">
				                    		<label>
				                    			Aziz
				                    		</label>
				                    	</div>
				                    	<div class="row col-lg-5 category-box no-padding-left">
				                    		<input type="checkbox" value="Aziz">
				                    	</div>
			                    	</div>
				                    <div class="row col-lg-4">
				                    	<div class="row col-lg-5 category-name no-padding-right">
				                    		<label>
				                    			Daif
				                    		</label>
				                    	</div>
				                    	<div class="row col-lg-5 category-box no-padding-left">
				                    		<input type="checkbox" value="Daif">
				                    	</div>
				                    </div>
				                </div>
			                    <div class="col-lg-12">
			                    	<h5><u>F-J</u></h5>
			                    </div>
			                    <div class="col-lg-12">
				                	<div class="row col-lg-4">
				                    	<div class="row col-lg-5 category-name no-padding-right">
				                    		<label>
				                    			Gharib
				                    		</label>
				                    	</div>
				                    	<div class="row col-lg-5 category-box no-padding-left">
				                    		<input type="checkbox" value="Gharib">
				                    	</div>
				                    </div>
				                    <div class="row col-lg-4">
				                    	<div class="row col-lg-5 category-name no-padding-right">
				                    		<label>
				                    			Hasan
				                    		</label>
				                    	</div>
				                    	<div class="row col-lg-5 category-box no-padding-left">
				                    		<input type="checkbox" value="Hasan">
				                    	</div>
				                    </div>
				                </div>
				                <div class="col-lg-12">
		                    		<h5><u>K-R</u></h5>
			                    </div>
			                    <div class="col-lg-12">
				                	<div class="row col-lg-4">
				                    	<div class="row col-lg-5 category-name no-padding-right">
				                    		<label>
				                    			Marfu
				                    		</label>
				                    	</div>
				                    	<div class="row col-lg-5 category-box no-padding-left">
				                    		<input type="checkbox" value="Marfu">
				                    	</div>
				                    </div>
				                    <div class="row col-lg-4">
				                    	<div class="row col-lg-5 category-name no-padding-right">
				                    		<label>
				                    			Mauquf
				                    		</label>
				                    	</div>
				                    	<div class="row col-lg-5 category-box no-padding-left">
				                    		<input type="checkbox" value="Mauquf">
				                    	</div>
				                    </div>
				                    <div class="row col-lg-4">
				                    	<div class="row col-lg-5 category-name no-padding-right">
				                    		<label>
				                    			Maqtu
				                    		</label>
				                    	</div>
				                    	<div class="row col-lg-5 category-box no-padding-left">
				                    		<input type="checkbox" value="Maqtu">
				                    	</div>
				                    </div>
				                    <div class="row col-lg-4">
				                    	<div class="row col-lg-5 category-name no-padding-right">
				                    		<label>
				                    			Mursal
				                    		</label>
				                    	</div>
				                    	<div class="row col-lg-5 category-box no-padding-left">
				                    		<input type="checkbox" value="Mursal">
				                    	</div>
				                    </div>
				                    <div class="row col-lg-4">
				                    	<div class="row col-lg-5 category-name no-padding-right">
				                    		<label>
				                    			Mash'hoor
				                    		</label>
				                    	</div>
				                    	<div class="row col-lg-5 category-box no-padding-left">
				                    		<input type="checkbox" value="Mash'hoor">
				                    	</div>
				                    </div>
			                	</div>
				                <div class="col-lg-12">
		                    		<h5><u>S-Z</u></h5>
		                    	</div>
			                    <div class="col-lg-12">
				                	<div class="row col-lg-4">
				                    	<div class="row col-lg-5 category-name no-padding-right">
				                    		<label>
				                    			Sahih
				                    		</label>
				                    	</div>
				                    	<div class="row col-lg-5 category-box no-padding-left">
				                    		<input type="checkbox" value="Sahih">
				                    	</div>
				                    </div>
			                	</div>
			            	</div><!--panel body-->
		        		</div>
		    		</div>
	    		</div>
    		</div>
		    <div class="modal-matan" style="margin-left:18px;width: 97.5%;"></div>
			<div class="row col-lg-12 controls no-padding">
				<div class="col-lg-6 controls">
					<button type="submit" id="save_category" class="btn btn-primary save-category" style="width:90%">
						<span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;&nbsp;Save category
					</button>
				</div>
			</div>
			<div class="col-lg-12"></div>
			<div class="row col-lg-12 controls buttons"></div>
	      	<div class="hadith-modal-footer"></div>
		</div>
	</div>
</div>