<div class ="controls no-padding" style=" margin-left: 263px;margin-top: 160px;">
	<h4 style="color: #666"><span class="glyphicon glyphicon-trash"	style="font-size: 171px;"></span>
	<p style="margin-left: 40px;padding-top: 10px;">No Hadith Found</p>
	</h4>
</div>